*{
    margin: 0;
    padding: 0;
}
/* font Section */

/* inner font */
.open-sans-header-nav {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Releway font */
.open-sans-header-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-center{
    text-align: center;
}
.nav-title{
    margin: 0px 150px;
    padding: 50px 0px;
    
}
.nav-title ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
    align-items: center;
}
.btn-primary{
    font-size: 16px;
    padding: 12px 36px;
    font-weight: bold;
    background-color: #4E47FF;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}
header{
    background-image: url(Assets/Hero-bg.png);

}
.banner-section{
    margin: 160px 265px 0px 265px;
    text-align: center;
    padding-bottom: 160px;
    
}
.banner-section h1{
    margin-bottom: 35px;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.action-section{
    margin: 115px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}

.action-sub-title{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.50);
}

.action-section img{
    border-radius: 48px;
}
.action-section div button{
    margin-top: 13px;
}

/* Productive User Section Styles */
.productive-title{
    font-size: 38px;
    font-weight: bold;
    padding-top: 50px;
}
.productive-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.productive-user-section{
    max-width: 1140px;
    background-color: rgba(77, 71, 255, 0.10);
    margin: 110px auto;
    border-radius: 24px;
}
.node h3{
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    
}
.data-subtitle{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}